<!DOCTYPE html>
<html>
  <head>
    <title>Lab 04</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ma super application Express</h1>
    <p>Les membres de l'équipe sont: Philippe Lacasse et mon chien Patou</p>
  </body>
</html>
